ultralytics
opencv-contrib-python
deep-sort-realtime
flask
waitress
flask-sqlalchemy
flask-login
psycopg[binary]
pandas
openpyxl
schedule
twilio
numpy
scipy
werkzeug
flask-cors
python-dotenv
requests
qrcode
reportlab
Pillow
flask-session
jinja2
